{% extends "base.html" %}
{% block title %}
  О конференции
{% endblock %}
{% block content %}
 <article class="mb-5">
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        <b>О конференции</b>
      </div>
      <div class="card-body">
        <p>
          С 12 по 13 марта 2024 года в г. Екатеринбурге состоится VI всероссийская научно-практическая конференция «БСАЭ-2024» 
        </p>
        <p>
          <b>Научная и практическая актуальность</b>
        </p>        
        <p>
          Атомная энергетика в 20 веке стала одной из ведущих технологий, определяющих развитие общества, и вывела цивилизацию на новый уровень. Достижения атомной промышленности нашли применение практически во всех областях человеческой деятельности – от медицины до военной сферы. Ведущие мыслители говорят о наступлении «Атомного века». В 21 веке атомная энергетика продолжает быть инновационным локомотивом общества.
        </p>
        <p>
          В то же время зарождение «Атомного века» обнажило глобальные проблемы, связанные с безопасностью интенсивного роста техносферы. История развития атомной отрасли сопровождалась локальными и глобальными аварийными ситуации – Хиросима, Чернобыль, Фукусима.
        </p>
        <p>
          Определение условий и принципов безопасного и биосферно совместимого развития передовых технологий и в первую очередь атомной отрасли является одной из важнейших задач фундаментальной науки.
        </p>
        <p>
          <b>Основные темы конференции:</b>
          <lu>
            <li>радиационная безопасность, радиоэкология;</li>
            <li>радиация и здоровье;</li>
            <li>перспективы и проблемы ядерной медицины в России;</li>
            <li>социально-экологические проблемы в районах расположения объектов использования атомной энергии;</li>
            <li>коммуникации (информационный обмен) между населением и предприятиями атомной отрасли;</li>                      
            <li>популяризация знаний в инженерно-технической и радиационно-гигиенической сферах.</li>                                              
          </lu>
        </p>     
      </div>
    </div>
  </div>
</article>
<article class="mb-5">
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header" justify-content-center>
        <b>Условия участия</b>
      </div>
      <div class="card-body">
        <p>
          Место проведения
        </p>        
        <p>
          <a href="{% url 'pages:venue' %}">г. Екатеринбург, Ельцин Центр (ул. Бориса Ельцина, 3), Кино-конференцзал.</a>
        </p>        
        <p>
          <b>Язык конференции</b>
        </p>        
        <p>
          Русский    
        </p>                
        <p>
          <p>
            <b>Форма участия</b>
          </p>        
          <p>
            Очная    
          </p>                
          <p>          
          Участие в конференции для специалистов атомной отрасли, учреждений высшего образования и науки – бесплатное.          
        </p>
        <p>
          Для участия в конференции просим <a href="{% url 'registration' %}"> зарегистрировться</a> на сайте и загрузить файл с тезисами доклада (если вы планируете участие в конференции в качестве докладчика).
        </p>
        <p>
          <b>Прием тезисов до 15 ноября 2023 года.</b>
        </p>
        <p>
          Доклады по итогам конференции могут быть опубликованы в журнале <a href="https://restrajectory.ru/"> «Траектория исследований – человек, природа, технологии»</a>, входящем в РИНЦ с присвоением DOI.
        </p>        
        <p>
          При необходимости отправки официального приглашения на почту предприятия, просим Вас сообщить дополнительно на электронную почту <a href="mailto: vav@ecko.uran.ru"> vav@ecko.uran.ru</a>
        </p>             
      </div>
    </div>    
  </div>
</article>
{% endblock %}
