{% extends "base.html" %}
{% load static %}
{% block title %}
  О месте проведения
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        <b>О месте проведения</b>
      </div>
      <div class="card-body">
        <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{% static 'img/yeltsin.jpg' %}">        
        <p>
          Конференция состоится на площадке Ельцин Центра.
        </p>
        <p>
          Фонд «Президентский центр Б.Н. Ельцина» (Ельцин Центр) – некоммерческая организация, носящая имя первого президента России. Основная задача Центра – сохранение, изучение и осмысление исторического наследия Бориса Ельцина в контексте политических и социальных событий 90-х. Центр задумывался как общественно-политическая организация, способствующая построению правового государства, изучению и развитию института президентства в России. Сфера интересов Центра широка: поддержка образовательных, научно-исследовательских, благотворительных и культурных проектов.
        </p>
        <p>
          <b>Адрес: г. Екатеринбург, ул. Бориса Ельцина, д.3</b>
        </p>
        <p>
          Официальный сайт <a href="https://yeltsin.ru/">yeltsin.ru</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}